@font-face {
	font-family: roboto-regular;
	src: url("../fonts/roboto-regular.ttf");
}

@font-face {
	font-family: roboto-bold;
	src: url("../fonts/roboto-bold.ttf");
}

@font-face {
	font-family: roboto-mono;
	src: url("../fonts/roboto-mono.ttf");
}

@font-face {
	font-family: roboto-slab;
	src: url("../fonts/roboto-slab.ttf");
}

:root {
	font-family: roboto-regular;
}

.ul > li {
	font-family: roboto-slab;
}

.nav > a, .button {
	font-family: roboto-bold;
}

.footer {
	font-family: roboto-mono;
}

